# Explore enron data

In [31]:
import pickle

In [32]:
ls

choose_your_own/         feature_selection/  pca/            tools/
datasets_questions/      final_project/      README.md       validation/
decision_tree/           k_means/            regression/
enron-exploration.ipynb  naive_bayes/        svm/
evaluation/              outliers/           text_learning/

In [33]:
enron_data = pickle.load(open("final_project/final_project_dataset.pkl", "r"))

In [35]:
# load dataset into dataframe
import pandas as pd

df_clean = pd.DataFrame(enron_data)

In [36]:
df_clean.head()

,ALLEN PHILLIP K,BADUM JAMES P,BANNANTINE JAMES M,BAXTER JOHN C,BAY FRANKLIN R,BAZELIDES PHILIP J,BECK SALLY W,BELDEN TIMOTHY N,BELFER ROBERT,BERBERIAN DAVID,...,WASAFF GEORGE,WESTFAHL RICHARD K,WHALEY DAVID A,WHALLEY LAWRENCE G,WHITE JR THOMAS E,WINOKUR JR. HERBERT S,WODRASKA JOHN,WROBEL BRUCE,YEAGER F SCOTT,YEAP SOON
bonus,4175000,NaN,NaN,1200000,400000,NaN,700000,5249999,NaN,NaN,...,325000,NaN,NaN,3000000,450000,NaN,NaN,NaN,NaN,NaN
deferral_payments,2869717,178980,NaN,1295738,260455,684694,NaN,2144013,-102500,NaN,...,831299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
deferred_income,-3081055,NaN,-5104,-1386055,-201641,NaN,NaN,-2334434,NaN,NaN,...,-583325,-10800,NaN,NaN,NaN,-25000,NaN,NaN,NaN,NaN
director_fees,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3285,NaN,...,NaN,NaN,NaN,NaN,NaN,108579,NaN,NaN,NaN,NaN
email_address,phillip.allen@enron.com,NaN,james.bannantine@enron.com,NaN,frank.bay@enron.com,NaN,sally.beck@enron.com,tim.belden@enron.com,NaN,david.berberian@enron.com,...,george.wasaff@enron.com,dick.westfahl@enron.com,NaN,greg.whalley@enron.com,thomas.white@enron.com,NaN,john.wodraska@enron.com,NaN,scott.yeager@enron.com,NaN

In [37]:
df_clean.shape

(21, 146)

so we have 21 features and 146 persons of interests, but the order is weird, let's transpose it to have the features of each person in a row

In [43]:
df = df_clean.transpose()

In [44]:
df.head()

,bonus,deferral_payments,deferred_income,director_fees,email_address,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,from_this_person_to_poi,...,long_term_incentive,other,poi,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
ALLEN PHILLIP K,4175000,2869717,-3081055,NaN,phillip.allen@enron.com,1729541,13868,2195,47,65,...,304805,152,False,126027,-126027,201955,1407,2902,4484442,1729541
BADUM JAMES P,NaN,178980,NaN,NaN,NaN,257817,3486,NaN,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,182466,257817
BANNANTINE JAMES M,NaN,NaN,-5104,NaN,james.bannantine@enron.com,4046157,56301,29,39,0,...,NaN,864523,False,1757552,-560222,477,465,566,916197,5243487
BAXTER JOHN C,1200000,1295738,-1386055,NaN,NaN,6680544,11200,NaN,NaN,NaN,...,1586055,2660303,False,3942714,NaN,267102,NaN,NaN,5634343,10623258
BAY FRANKLIN R,400000,260455,-201641,NaN,frank.bay@enron.com,NaN,129142,NaN,NaN,NaN,...,NaN,69,False,145796,-82782,239671,NaN,NaN,827696,63014

let's count the number of persons of interest

In [47]:
pois = df[df.poi == True]

In [48]:
# number of persons of interest
len(pois)

18

let's count the total number of pois

In [49]:
total_num_pois = 0
with open('final_project/poi_names.txt', 'r') as f:
    for line in f:
        if any(keyword in line for keyword in ["(y)","(n)"]):
            total_num_pois += 1

In [50]:
total_num_pois

35

in total there are 35 persons of interest

What is the total value of the stock belonging to James Prentice?

In [54]:
df_clean.columns.values

array(['ALLEN PHILLIP K', 'BADUM JAMES P', 'BANNANTINE JAMES M',
       'BAXTER JOHN C', 'BAY FRANKLIN R', 'BAZELIDES PHILIP J',
       'BECK SALLY W', 'BELDEN TIMOTHY N', 'BELFER ROBERT',
       'BERBERIAN DAVID', 'BERGSIEKER RICHARD P', 'BHATNAGAR SANJAY',
       'BIBI PHILIPPE A', 'BLACHMAN JEREMY M', 'BLAKE JR. NORMAN P',
       'BOWEN JR RAYMOND M', 'BROWN MICHAEL', 'BUCHANAN HAROLD G',
       'BUTTS ROBERT H', 'BUY RICHARD B', 'CALGER CHRISTOPHER F',
       'CARTER REBECCA C', 'CAUSEY RICHARD A', 'CHAN RONNIE',
       'CHRISTODOULOU DIOMEDES', 'CLINE KENNETH W', 'COLWELL WESLEY',
       'CORDES WILLIAM R', 'COX DAVID', 'CUMBERLAND MICHAEL S',
       'DEFFNER JOSEPH M', 'DELAINEY DAVID W', 'DERRICK JR. JAMES V',
       'DETMERING TIMOTHY J', 'DIETRICH JANET R', 'DIMICHELE RICHARD G',
       'DODSON KEITH', 'DONAHUE JR JEFFREY M', 'DUNCAN JOHN H',
       'DURAN WILLIAM D', 'ECHOLS JOHN B', 'ELLIOTT STEVEN',
       'FALLON JAMES B', 'FASTOW ANDREW S', 'FITZGERALD JAY L',
       'FOWLER PEGGY', 'FOY JOE', 'FREVERT MARK A', 'FUGH JOHN L',
       'GAHN ROBERT S', 'GARLAND C KEVIN', 'GATHMANN WILLIAM D',
       'GIBBS DANA R', 'GILLIS JOHN', 'GLISAN JR BEN F', 'GOLD JOSEPH',
       'GRAMM WENDY L', 'GRAY RODNEY', 'HAEDICKE MARK E', 'HANNON KEVIN P',
       'HAUG DAVID L', 'HAYES ROBERT E', 'HAYSLETT RODERICK J',
       'HERMANN ROBERT J', 'HICKERSON GARY J', 'HIRKO JOSEPH',
       'HORTON STANLEY C', 'HUGHES JAMES A', 'HUMPHREY GENE E',
       'IZZO LAWRENCE L', 'JACKSON CHARLENE R', 'JAEDICKE ROBERT',
       'KAMINSKI WINCENTY J', 'KEAN STEVEN J', 'KISHKILL JOSEPH G',
       'KITCHEN LOUISE', 'KOENIG MARK E', 'KOPPER MICHAEL J',
       'LAVORATO JOHN J', 'LAY KENNETH L', 'LEFF DANIEL P',
       'LEMAISTRE CHARLES', 'LEWIS RICHARD', 'LINDHOLM TOD A',
       'LOCKHART EUGENE E', 'LOWRY CHARLES P', 'MARTIN AMANDA K',
       'MCCARTY DANNY J', 'MCCLELLAN GEORGE', 'MCCONNELL MICHAEL S',
       'MCDONALD REBECCA', 'MCMAHON JEFFREY', 'MENDELSOHN JOHN',
       'METTS MARK', 'MEYER JEROME J', 'MEYER ROCKFORD G',
       'MORAN MICHAEL P', 'MORDAUNT KRISTINA M', 'MULLER MARK S',
       'MURRAY JULIA H', 'NOLES JAMES L', 'OLSON CINDY K',
       'OVERDYKE JR JERE C', 'PAI LOU L', 'PEREIRA PAULO V. FERRAZ',
       'PICKERING MARK R', 'PIPER GREGORY F', 'PIRO JIM', 'POWERS WILLIAM',
       'PRENTICE JAMES', 'REDMOND BRIAN L', 'REYNOLDS LAWRENCE',
       'RICE KENNETH D', 'RIEKER PAULA H', 'SAVAGE FRANK',
       'SCRIMSHAW MATTHEW', 'SHANKMAN JEFFREY A', 'SHAPIRO RICHARD S',
       'SHARP VICTORIA T', 'SHELBY REX', 'SHERRICK JEFFREY B',
       'SHERRIFF JOHN R', 'SKILLING JEFFREY K', 'STABLER FRANK',
       'SULLIVAN-SHAKLOVITZ COLLEEN', 'SUNDE MARTIN', 'TAYLOR MITCHELL S',
       'THE TRAVEL AGENCY IN THE PARK', 'THORN TERENCE H',
       'TILNEY ELIZABETH A', 'TOTAL', 'UMANOFF ADAM S', 'URQUHART JOHN A',
       'WAKEHAM JOHN', 'WALLS JR ROBERT H', 'WALTERS GARETH W',
       'WASAFF GEORGE', 'WESTFAHL RICHARD K', 'WHALEY DAVID A',
       'WHALLEY LAWRENCE G', 'WHITE JR THOMAS E', 'WINOKUR JR. HERBERT S',
       'WODRASKA JOHN', 'WROBEL BRUCE', 'YEAGER F SCOTT', 'YEAP SOON'], dtype=object)

ok, obviously we need to use family and firstname written in upper case

In [56]:
df.loc["PRENTICE JAMES"]["total_stock_value"]

1095040

The total value of stock of James Prentice is 1095040.

What’s the value of stock options exercised by Jeffrey K Skilling?

In [58]:
df.loc["SKILLING JEFFREY K"]["exercised_stock_options"]

19250000

The value of stock options exercised by Jeffery K Skilling is: 19250000.

todo
quizzes: 21

Of these three individuals (Lay, Skilling and Fastow), who took home the most money (largest value of “total_payments” feature)?

How much money did that person get?

In [87]:
df.loc[["SKLLING JEFFERY K", "LAY KENNETH L", "FASTOW ANDREW S"]]["total_payments"]

SKLLING JEFFERY K          NaN
LAY KENNETH L        103559793
FASTOW ANDREW S        2424083
Name: total_payments, dtype: object

Kenneth Lay was the guy with an amount of 103559793.

How many folks in this dataset have a quantified salary? What about a known email address?
Start Quiz

In [99]:
df.columns.values

array(['bonus', 'deferral_payments', 'deferred_income', 'director_fees',
       'email_address', 'exercised_stock_options', 'expenses',
       'from_messages', 'from_poi_to_this_person',
       'from_this_person_to_poi', 'loan_advances', 'long_term_incentive',
       'other', 'poi', 'restricted_stock', 'restricted_stock_deferred',
       'salary', 'shared_receipt_with_poi', 'to_messages',
       'total_payments', 'total_stock_value'], dtype=object)

In [112]:
# does not work here, maybe isnull function had a bug in that version?
#len(df[~df.salary.isnull()])

# using that alternativ, did not work neither
#len(df.salary.dropna())

# manual checking works, maybe 'NaN' here is of different type
len(df[df.salary != 'NaN'])

95

95 persons had a quantified salary.

In [119]:
len(df[df.email_address != 'NaN'])

111

In [123]:
df_0 = df.replace('NaN', 0)